<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.css">
</head>
<body>
  <div class="graphDiv" style="float: left"></div>
  <div id="dataDiv" style="width:500px; height: 400px; background-color: lightblue; border: 1px solid darkblue; float: right"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> 
  <script>
      mermaidAPI.initialize({
          startOnLoad:false,
      });

      function addLinks() {

        $('#graphDiv .messageText').each(function() {

          line_text = $(this).text();

          // Check if hyperlink has is in text
          if (line_text.indexOf("|url:") >= 0)
          {
              parts = line_text.split('|url:');
              text = parts[0];
              url = parts[1];
              $(this).html( '<a href="'+ url +'" style="cursor:hand;">'+ text +'</a>');

          }

        });



      }

      function updateGraph() {
            
            $.get('/log', function(data) {

              console.log(data);

              var element = document.querySelector("#graphDiv");

              var insertSvg = function(svgCode, bindFunctions){
                  element.innerHTML = svgCode;
              };

              graphDefinition = data;

              var graph = mermaidAPI.render('graphDiv', graphDefinition, insertSvg);

              // Add hyperlinks to text
              addLinks();


              // Ensure on click // TODO: is this really working?
              $( "a" ).on( "click", function( event ) {
                
                console.log($(this).text());
                console.log($(this).prop('href'));
                $('#dataDiv').text($(this).prop('href').baseVal);

                event.preventDefault();
                return false;
              });

              setTimeout(function() {
                  updateGraph()
              }, 1000);
            })
        
      }

      $(document).ready(function() {

          updateGraph();

        
      })

  </script>

</body>
</html>